@CHARSET "UTF-8";

#logout{
	background-color: #8aa1a1;
	border: none;
	color: white;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	font-size: 12pt;
	margin-top: 10px;
	margin-left: 3.5%;
}

#loginPage{
	position: absolute;
	top: 40%;
	left: 50%;
	height: 150px;
	width: 300px;
	margin:-150px 0px 0px -170px;
}

#signPage{
	position: absolute;
	top: 20%;
	left: 50%;
	height: 150px;
	width: 400px;
	margin:-150px 0px 0px -170px;
}

#top{
	background-color : rgb(224, 224, 224, 0.13);
}

#top_contents{
	display : flex;
}

#board{
	margin-left : 27%;
	width : 236px;
	height: 80px;
}

#board h1{
	text-align : center;
	font-size: xxx-large;
}

#weather{
	width : 60px;
	margin-left: 3%;
}

#temp{
	height: 40px;
	width: 60px;
	margin-top : 2%;	
}

#time{
	margin-top : 0.8%;
	width : 150px;
}

#mapBoard{
	position : absolute;
	left : 29%;
	margin-top : 1%;
}

#logoutBtn{
	position : absolute;
	margin-left: 85%;
}

#vmap{
	width : 800px; 
	height : 350px;
}

/* 그래프 */
#graph{
	width : 400px; 
	height : 220px;
	background-color : rgb(224, 224, 224, 0.15);
/* 	margin-left : 3%; */
	margin-top : 2.5%;
	
}

/* body */
#boardBody{
	background-color : rgb(224, 224, 224, 0.13);
	width : 900px;
	height : 700px;
/* 	position : absolute; */
	margin-left : 26.5%;
	margin-top : 1%;
}

#excel{
	float : right; 
}

#pageBtn{
	text-align : center;
}

#selectList{
/* 	margin-top : 3%; */
	padding-top : 50%;
}

/* 왼쪽 보드 */
#leftBoard{
	background-color : rgb(224, 224, 224, 0.13);
	position : absolute;
	left : 0%;
	top : 10%;
	width : 400px; 
	height : 700px;
}
/* 오른쪽 보드 */
#rightBoard{
	background-color : rgb(224, 224, 224, 0.13);
	position : absolute;
	right : 0%;
	top : 10%;
	width : 400px; 
	height : 700px;
}

#localSelect{
/* 	margin-left: 5%; */
	margin-top: 7.5%;
	float: right;
}